realmLauncher/realmConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="realms">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="realm">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="realmlist" type="xs:string" />
                    <xs:element name="patchlist" type="xs:string" />
                    <xs:element name="clientversion" type="xs:string" />
                    <xs:element name="website" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="clients">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="client">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="clientversion" type="xs:string" />
                    <xs:element name="clientpath" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>